.game {
  display: grid;
  grid-template-columns:  repeat(3, 150px);
  grid-template-rows:     repeat(3, 150px);
  
  gap: 5px;

  &__cell {
    border: 2px black solid;

    &:hover {
      transition: 1s;
      background-color: rgba(20, 71, 0, 0.05);
    }
  }
}