* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(to right top, #b15bbe, #9f4fb6, #8c43af, #7938a7, #642ea0, #542893, #442387, #351d7a, #2b1965, #211551, #19103e, #13082b);
}