
$borderColor: 10px #000000c0 solid;

.game {
  margin: 40px;
  display: grid;
  grid-template-columns:  repeat(3, 150px);
  grid-template-rows:     repeat(3, 150px);

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    user-select: none;
    &:hover {
      cursor: context-menu;
    }

    &:nth-child(-n+3) {
      border-bottom: $borderColor;
    }
    &:nth-child(n+7) {
      border-top: $borderColor;
    }
    &:nth-child(3n-2) {
      border-right: $borderColor;
    }
    &:nth-child(3n) {
      border-left: $borderColor;
    }
  }
  
}